---
layout: default
title: Keelin's Portfolio
email: keelin.baldwinmaher@gmail.com
---
<section class="welcome-section grid-9-column">
    <article class="welcome-text bkg-light-magenta font-body drop-shadow">
        <h1 class="font-header-1">Hello!</h1>
        <p>I am a software developer! This is my affable, professional, and non-boring intro!</p>
    </article>
    <div class="splash-image">
        <!-- Maybe put a <picture> thing here? -->
        <div class="bkg-highlight-magenta"></div>
        <div class="bkg-highlight-blue"></div>
        <div class="bkg-highlight-yellow"></div>
    </div>
</section>

<section id="projects" class="project-section">
    <h2 class="font-header-2">Projects</h2>
    {% include project-card.html %}
    {% include project-card.html %}
    {% include project-card.html %}
</section>

<section id="contact" class="contact-section grid-9-column">
    <h2>Contact</h2>
    <div class="contact-text drop-shadow bkg-light-magenta">
        <p>Drop me a line at: <a href="mailto:{{page.email}}">{{ page.email }}</a></p>
        <p>Or use this neat form --></p>
    </div>
    <form action="#" method="" class="contact-form">
        <div class="contact-form-inner-container drop-shadow">
            <label for="name">Name:</label><input type="text" name="name" id="name">
            <label for="email">Email:</label><input type="email" name="email" id="email">
            <label for="subject">Subject:</label><input type="text" name="subject" id="subject">
            <label for="message">Message</label><textarea name="message" id="message"></textarea>
        </div>
        <input type="submit" value="Send">
    </form>
</section>