---
layout: default
title: Keelin's Resume
---

<section class="resume-section">
    <h1 class="font-header-1">Resume</h1>
    <article class="experience bkg-light-blue">
        <h2 class="font-header-2">Experience</h2>
        {% for experience in site.data.resume.experience %}
           <article class="company  grid-9-column">
                <h3 class="company-name font-header-3">{{ experience.company }}</h3>
                <p class="company-location font-header-4">{{ experience.location }}</p>
                <p class="company-dates font-header-4">{{ experience.dates }}</p>
                <ul class="company-experience-description">
                    {% for description in experience.descriptions %}
                        <li>{{ description }}</li>
                    {% endfor %}
                </ul>
           </article>
        {% endfor %}
    </article>
    <article class="education bkg-light-blue">
        <h2 class="font-header-2">Education</h2>
        {% for school in site.data.resume.education%}
            <article class="school grid-9-column">
                <h3 class="school-degree font-header-3">{{ school.degree }}</h3>
                <p class="school-name">{{ school.school }}</p>
                
                <p class="school-dates font-header-4">{{ school.dates }}</p>
            </article>
        {% endfor %}
    </article>
    <article class="skills">
        <h2 class="font-header-2 bkg-light-blue">Skills</h2>
        <div class="skills-container">
            {% for skill in site.data.resume.skills %}
                <p class="skill bkg-light-blue">{{ skill }}</p>
            {% endfor %}
        </div>
   </article>
</section>