<footer class="content-grid">
    <ul class="grid-9-column">
        <li><a href="/index.html#projects" target="_self">Projects</a></li>
        <li><a href="/website-design-system.html" target="_self">Resume</a></li>
        <li><a href="/index.html#contact" target="_self">Contact</a></li>
        <li class="socials" aria-label="Social Media">
            <a aria-label="LinkedIn" href="http://" target="_self">In</a>
            <a aria-label="GitHub" href="http://" target="_self">GH</a>
        </li>
    </ul>
</footer>