<nav class="content-grid">
    <ul class="grid-9-column">
        <li class="logo">
            <a href="/" data-name="welcome-section">
                &#128640;
                <span class="visually-hidden">Home</span>
            </a>
        </li>

        {% for link in site.data.nav.pages %}
            <li>
                <a href="{{ link.url }}" class="menu-link" data-name="{{ link.name | downcase }}">
                    {{ link.name }}
                </a>
            </li>
        {% endfor %}

        {{ page.link }}

        <li class="socials" aria-label="Social Media">
            {% for link in site.data.nav.social-media %}
                <a href="{{ link.url }}">
                    <span class="visually-hidden">{{ link.name }}</span>
                    {{ link.svg }}
                </a>
            {% endfor %}
        </li>
    </ul>
</nav>

