<nav class="content-grid">
    <ul class="grid-9-column">
        <li class="logo"><a aria-label="home" href="/index.html" target="_self">&#128640;</a></li>

        {% for link in site.data.navigation %}
            {% if link.type == "page" %}
                <li><a href="{{ link.link }}" target="_self">{{ link.name }}</a></li>
            {% endif %}
        {% endfor %}

        <li class="socials" aria-label="Social Media">
            {% for link in site.data.navigation %}
                {% if link.type == "social-media" %}
                    <a aria-label="{{ link.name }}" href="{{ link.link }}" target="_self">{{ link.name }}</a>
                {% endif %}
            {% endfor %}
        </li>
        
    </ul>
</nav>