<article class="project-card grid-9-column box-drop-shadow">
    <picture class="project-card-picture">
        <div class="bkg-highlight-magenta"></div>
        <div class="bkg-highlight-blue"></div>
        <div class="bkg-highlight-yellow"></div>
    </picture>
    <article class="project-description">
        <h3 class="font-header-3">Project Title</h3>
        <p>
            This is text giving a basic explanation of the project
        </p>
    </article>
    <button class="button font-mono">
        View Project
    </button>
</article>