/* Welcome Section */
.welcome-section.grid-9-column {
    padding: var(--size-350) 0 var(--size-900) 0;
    gap: var(--size-175);
}

.welcome-text {
    grid-column: 1 / span 4;
    border: var(--border-300);
}

.welcome-text .font-header-1 {
    border-bottom: var(--border-200);
    padding: var(--size-075) var(--size-125);
}

.welcome-text p {
    padding: var(--size-125);
}

.splash-image {
    grid-column: 5 / span 5;
    grid-row: 1;
    display: flex;
    min-height: 200px;
}

.splash-image div {
    flex: 1 1;
}

/* Projects Section*/
.project-section {
    scroll-margin-top: var(--size-350);
    padding: var(--size-400) 0 var(--size-450) 0;
}

.project-section .font-header-2 {
    padding-bottom: var(--size-150);
}

.project-section :last-child {
    margin-bottom: 0;
}

.project-card.grid-9-column {
    border: var(--border-300);
    margin-bottom: var(--size-400);
    overflow: hidden;
    background-color: #FFF;
    grid-template-areas:
        "p p p p d d d d d"
        "p p p p b b b b b";
}

.project-card-picture {
    grid-area: p;
    display: flex;
    border-right: var(--border-200);
    min-height: 150px;
}

.project-card-picture div {
    flex: 1 1;
}

.project-description {
    grid-area: d;
}

.project-description .font-header-3 {
    padding: var(--size-125) var(--size-100) var(--size-050);
    border-bottom: var(--border-200);
}

.project-description p {
    padding: var(--size-100);
}

.project-card .button {
    grid-area: b;
    margin: var(--size-075) var(--size-100) var(--size-150);
}

/* Contact Section*/
.contact-section {
    padding: var(--size-700) 0;
    align-items: start;
    gap: var(--size-125);
    grid-template-areas: 
        "c c c c c c c c c"
        "f f f f f f t t t";
}

.contact-section .font-header-2 {
    grid-area: c;
    padding: var(--size-050) 0;
}

.contact-text {
    grid-area: t;
    border: var(--border-200);
    padding: min(var(--size-125), 5%);
    max-width: 21.5rem;
}

.contact-text p+p {
    padding-top: var(--size-100);
}

.contact-form {
    grid-area: f;
    container: contact-form / inline-size;
}

.contact-form-inner-container {
    border: var(--border-300);
    margin-bottom: var(--size-125);
    display: grid;
    grid-template-columns: repeat(6, minmax(auto, 1fr));
    grid-template-areas:
        "nl ni ni el ei ei"
        "sl si si si si si"
        "ml ml ml ml ml ml"
        "mi mi mi mi mi mi";
}

@container contact-form (width < 70ch) {
    .contact-form-inner-container {
        grid-template-areas:
        "nl ni ni ni ni ni"
        "el ei ei ei ei ei"
        "sl si si si si si"
        "ml ml ml ml ml ml"
        "mi mi mi mi mi mi";
    }

    div.contact-form-inner-container #name {
        border-radius: 0 5px 0 0;
        border-right: none;
    }
    
    div.contact-form-inner-container #email {
        border-radius: 0 0 0 0;
        border-right: none;
    }

    div.contact-form-inner-container #subject {
        border-right: none;
    }
}

.contact-form-inner-container :focus {
    outline: var(--highlight-blue) 2px solid;
    box-shadow: 0px 0px 0px 3.5px hsla(333, 80%, 49%, 25%);
    z-index: 2;
}

.contact-form-inner-container label {
    font-family: var(--font-family-mono);
    background-color: var(--light-blue);
    padding: var(--size-050) min(var(--size-050), 8%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border: none;
    border-bottom: var(--border-100);
}

.contact-form-inner-container input {
    padding: var(--size-050);
    height: 100%;
    border: none;
    border-bottom: var(--border-100);
}

.contact-form-inner-container label[for="name"] {
    grid-area: nl;
    border-radius: 5px 0 0 0;
}

.contact-form-inner-container #name {
    grid-area: ni;
    border: var(--border-100);
    border-top: none;
}

.contact-form-inner-container label[for="email"] {
    grid-area: el;
}

.contact-form-inner-container #email {
    grid-area: ei;
    border-radius: 0 5px 0 0;
    border-left: var(--border-100);
}

.contact-form-inner-container label[for="subject"] {
    grid-area: sl;
}

.contact-form-inner-container #subject {
    grid-area: si;
    border-left: var(--border-100);
}

.contact-form-inner-container label[for="message"] {
    justify-content: center;
    grid-area: ml;
    border-bottom: var(--border-100);
}

.contact-form-inner-container #message {
    grid-area: mi;
    padding: var(--size-050) var(--size-125);
    min-height: calc(var(--font-size-body) * 30);
    border: none;
    border-radius: 0 0 5px 5px;
}

.contact-form input[type="submit"] {
    width: max(30%, 170px);
}

@media screen and (max-width: 120ch) {
    .contact-section {
        grid-template-areas: 
            "c c c c c c c c c"
            "t t t t t t t t t"
            "f f f f f f f f f";
    }
} 

@media screen and (max-width: 50em) {
    .splash-image {
        grid-column: 1 / -1;
        grid-row: 1;
    }

    .welcome-text {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .project-card.grid-9-column {
        grid-template-areas:
            "p p p p p p p p p"
            "d d d d d d d d d"
            "b b b b b b b b b";
    }

    .project-card-picture {
        border-right: none;
        border-bottom: var(--border-200);
    }
}