:root {
    --highlight-blue: #0533ff;
    --highlight-yellow: #ffda24;
    --highlight-magenta: #e11973;

    --med-magenta: #ee68a4;
    --med-blue: #8197f8;
    --med-yellow: #f9e890;

    --light-blue: hsl(209, 77%, 85%);
    --light-magenta: #ffcce3;
    --light-yellow: #fcf2cf;

    --dark-blue: #062d51;
    --dark-yellow: #bd9d00;
    --dark-magenta: #70153e;

    --font-primary: "Noto Sans", sans-serif;
    --font-secondary: "Courier Prime", monospace;
    --font-display: "Bevan", serif;

    --font-family-body: var(--font-primary);
    --font-family-mono: var(--font-secondary);
    --font-family-heading: var(--font-primary);
    --font-family-heading-special: var(--font-display);

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-semi-black: 800;

    --font-size-body: 1rem;
    --font-size-body-2: 1.25rem;
    --font-size-header-1: 2.5rem;
    --font-size-header-2: 1.8rem;
    --font-size-header-3: 1.25rem;
    --font-size-header-4: 1.15rem;

    --border-100-white: 1px solid white;
    --border-100: 1px solid black;
    --border-200: 2px solid black;
    --border-300: 3px solid black;

    --size-050: 0.5rem;
    --size-075: 0.75rem;
    --size-100: 1rem;
    --size-125: 1.25rem;
    --size-150: 1.5rem;
    --size-175: 1.75rem;
    --size-200: 2rem;
    --size-225: 2.25rem;
    --size-250: 2.5rem;
    --size-300: 3rem;
    --size-350: 3.5rem;
    --size-400: 4rem;
    --size-450: 4.5rem;
    --size-500: 5rem;
    --size-700: 7rem;
    --size-800: 8rem;
    --size-900: 9rem;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
}

/* Button */
.button {
    cursor: pointer;
    text-decoration: none;
    line-height: 0;
    padding: var(--size-100);
    width: fit-content;
    border: var(--border-200);
    border-radius: 10px;
    box-shadow: 0px 2px 0 black;
    background-color: var(--light-blue);
    transform: translate(0px, 0px);
    transition: transform 400ms cubic-bezier(.3, .7, .4, 1), 
        box-shadow 400ms cubic-bezier(.3, .7, .4, 1),
        filter 200ms;       
}

.button:hover {
    transform: translate(0px, -2px);
    filter: brightness(107%);
    box-shadow: 0px 4px 0 black;
    transition: transform 200ms cubic-bezier(.3, .7, .4, 1), 
        box-shadow 200ms cubic-bezier(.3, .7, .4, 1),
        filter 150ms;
}

.button:active {
    transform: translate(0, 2px);
    filter: brightness(95%);
    box-shadow: 0px 0px 0 black;
    transition: transform 35ms,
        box-shadow 35ms,
        filter 35ms;
}


/* Utility classes */
.visually-hidden {
    /* https://a11y-guidelines.orange.com/en/articles/accessible-hiding/# */
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.font-body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-optical-sizing: auto;
}

.font-mono {
    font-family: var(--font-family-mono);
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

.font-italic {
    font-style: italic;
}

.font-header-1 {
    font-family: var(--font-family-heading-special);
    font-size: var(--font-size-header-1);
}

.font-header-2 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-header-2);
    font-weight: var(--font-weight-semi-black);
}

.font-header-3 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-header-3);
    font-weight: var(--font-weight-bold);
}

.font-header-4 {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-header-4);
}

.bkg-highlight-blue {
    background-color: var(--highlight-blue);
}

.bkg-highlight-yellow {
    background-color: var(--highlight-yellow);
}

.bkg-highlight-magenta {
    background-color: var(--highlight-magenta);
}

.bkg-light-blue {
    background-color: var(--light-blue);
}

.bkg-light-magenta {
    background-color: var(--light-magenta);
}

.bkg-light-yellow {
    background-color: var(--light-yellow);
}

.bkg-med-yellow {
    background-color: var(--med-yellow);
}

.bkg-dark-blue {
    background-color: var(--dark-blue);
}

.box-drop-shadow {
    box-shadow: 3px 3px 0 1px #000;
    // filter: drop-shadow(3px 3px 0px #000);
    border-radius: 10px;
}

/* This is from:  https://www.youtube.com/watch?v=c13gpBrnGEw */
.content-grid {
    --padding: 1.5em;
    --max-width: 1050px; 
    --min-width: calc(100% - (var(--padding) * 2)); /* Multiplied by two for each end of columns */

    display: grid;
    grid-template-columns:
        [full-start] minmax(var(--padding), 1fr) 
        [content-start] 
            min(var(--max-width), var(--min-width))  
        [content-end] 
        minmax(var(--padding), 1fr) [full-end];
}

/* selector > * - selects all direct children of selector */
.content-grid >*,
.full-width >* {
    grid-column: content;
}

.content-grid > .full-width {
    grid-column: full;

    display: grid;
    grid-template-columns: inherit;
}

.grid-9-column {
    --max-width: 1580px;
    --min-width: calc(100% - (var(--size-125) * 2));

    display: grid;
    grid-template-columns: repeat(9, minmax(0, 1fr));
}