:root {
    --highlight-blue: #123CFF;
    --highlight-yellow: #FFDB22;
    --highlight-magenta: #FF2E8C;

    --light-blue: #87C5FF;
    --light-magenta: #FFBDDB;

    --dark-blue: #062E53;
    --dark-magenta: #6F143D;

    --font-primary: "Noto Sans", sans-serif;
    --font-secondary: "Courier Prime", monospace;
    --font-display: "Bevan", serif;

    --font-family-body: var(--font-primary);
    --font-family-mono: var(--font-secondary);
    --font-family-heading: var(--font-primary);
    --font-family-heading-special: var(--font-display);

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-semi-black: 800;

    --font-size-body: 1rem;
    --font-size-header-1: 2.5rem;
    --font-size-header-2: 1.65rem;
    --font-size-header-3: 1.25rem;
    --font-size-header-4: 1.05rem;

    --border-300: 3px solid black;
    --border-200: 2px solid black;
    --border-100: 1px solid black;

    --size-025: 0.25rem;
    --size-050: 0.5rem;
    --size-075: 0.75rem;
    --size-100: 1rem;
    --size-125: 1.25rem;
    --size-150: 1.5rem;
    --size-175: 1.75rem;
    --size-200: 2rem;
    --size-350: 3.5rem;
    --size-400: 4rem;
    --size-500: 5rem;
    --size-800: 8rem;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;

    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
}

/* Button */
.button {
    cursor: pointer;
    text-decoration: none;
    line-height: 1;
    padding: var(--size-050);
    width: fit-content;
}

/* Utility classes */
.visually-hidden {
    /* https://a11y-guidelines.orange.com/en/articles/accessible-hiding/# */
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.font-body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-optical-sizing: auto;
}

.font-bold {
    font-weight: var(--font-weight-bold);
}

.font-italic {
    font-style: italic;
}

.font-header-1 {
    font-family: var(--font-family-heading-special);
    font-size: var(--font-size-header-1);
}

.font-header-2 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-header-2);
    font-weight: var(--font-weight-semi-black);
}

.font-header-3 {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-header-3);
    font-weight: var(--font-weight-bold);
}

.font-header-4 {
    font-family: var(--font-family-mono);
    font-size: var(--font-size-header-4);
}

.font-color-white {
    color: white;
}

.font-color-black {
    color: black;
}

.font-color-dark-blue {
    color: var(--dark-blue);
}

.font-color-dark-magenta {
    color: var(--dark-magenta);
}

.bkg-highlight-blue {
    background-color: var(--highlight-blue);
}

.bkg-highlight-yellow {
    background-color: var(--highlight-yellow);
}

.bkg-highlight-magenta {
    background-color: var(--highlight-magenta);
}

.bkg-light-blue {
    background-color: var(--light-blue);
}

.bkg-light-magenta {
    background-color: var(--light-magenta);
}

.bkg-dark-blue {
    background-color: var(--dark-blue);
}

.bkg-dark-magenta {
    background-color: var(--dark-magenta);
}

.drop-shadow {
    box-shadow: 3px 3px 0 1px #000;
}

/* This is from:  https://www.youtube.com/watch?v=c13gpBrnGEw */
.content-grid {
    --padding: 1.5em;
    --max-width: calc(1050px / 2);
    /* Divided by two for each end of columns */
    --min-width: calc((100% - (var(--padding) * 2)) / 2);

    display: grid;
    grid-template-columns: [main-start] minmax(var(--padding), 1fr) [content-start] min(var(--max-width), var(--min-width)) min(var(--max-width), var(--min-width)) [content-end] minmax(var(--padding), 1fr) [main-end];
}

/* selector > * - selects all direct children of selector */
.content-grid>* {
    grid-column: content;
}

.grid-9-column {
    --max-width: 1580px;
    --min-width: calc(100% - (var(--size-125) * 2));

    display: grid;
    grid-template-columns: repeat(9, minmax(auto, 1fr));
    gap: 1rem;
}