/* Nav Bar and Footer */
nav ul,
footer ul {
    list-style-type: none;
    align-items: center;
}

nav li,
footer li {
    display: flex;
    height: 100%;
    overflow: hidden;
}

nav a,
footer a {
    text-decoration: none;
    color: black;
    font-weight: var(--font-weight-medium);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

li.socials a {
    width: var(--size-200);
    overflow: hidden;
}

li.socials a + a {
    /* Only affects <a> elements that have an <a> element preceding it */
    margin-left: 24px;
}

li.socials svg {
    fill: black;
    height: var(--size-175);
    width: var(--size-175);
}

// Nav Bar
nav {
    border-bottom: var(--border-200);
    background-color: white;
    width: 100%;
    position: fixed;
}

nav li.logo {
    grid-column: span 1;
}

nav li.logo a {
    font-size: 1.5rem;
    justify-content: flex-start;
}

nav li {
    grid-column: span 2;
}

nav li:nth-child(n + 2):nth-child(-n + 4) a {
    padding: var(--size-100) var(--size-075);
    transition: color ease 0.15s, font-weight ease 0.15s ,background-color ease 0.15s;
}

nav li:hover:nth-child(n + 2):nth-child(-n + 4) a {
    background-color: black;
    color: var(--highlight-yellow);
    font-weight: var(--font-weight-medium);
    transition: color ease 0.1s, font-weight ease 0.1s, background-color ease 0.1s;
}

nav li:active:nth-child(n + 2):nth-child(-n + 4) a {
    background-color: hsl(0, 0%, 10%);
    font-weight: var(--font-weight-thin);
}

nav li.socials {
    grid-column: 8 / 10;
    justify-content: flex-end;
}

nav li.socials a svg {
    transition: fill ease 0.17s, transform ease 0.17s;
}

nav li.socials a:hover svg {
    fill: var(--highlight-magenta);
    transform: scale(1.05);
    transition: fill ease 0.1s, transform ease 0.1s;
}

nav li.socials a:active svg {
    fill: var(--med-magenta);
}

// Footer
footer {
    margin-top: var(--size-800);
}

footer ul.grid-9-column {
    gap: var(--size-050);
}

footer li:nth-child(-n + 3) a,
footer li.socials a svg {
    transition: color ease 0.15s, font-weight ease 0.15s, fill ease 0.15s, transform ease 0.15s;
}

footer li:hover:nth-child(-n + 3) a,
footer li.socials a:hover svg {
    color: var(--highlight-blue);
    font-weight: var(--font-weight-bold);
    transition: color ease 0.1s, font-weight ease 0.1s;
}

footer li.socials a:hover svg {
    fill: var(--highlight-blue);
    transform: scale(1.05);
    transition: fill ease 0.1s, transform ease 0.1s;
}

footer li:active:nth-child(-n + 3) a,
footer li.socials a:active svg {
    color: var(--med-blue);
    fill: var(--med-blue);
}

footer li:nth-child(1) {
    grid-column: 4 / 5;
    padding-right: var(--size-050);
    border-right: var(--border-100);
}

footer li:nth-child(3) {
    grid-column: 6 / 7;
    padding-left: var(--size-050);
    border-left: var(--border-100);
}

footer li.socials {
    grid-row: 2;
    grid-column: 3 / 8;
    padding: var(--size-050) 0 var(--size-125) 0;
    border-top: var(--border-100);
    justify-content: center;
}