/* Nav Bar and Footer */
nav ul,
footer ul {
    list-style-type: none;
    align-items: center;
}

nav li,
footer li {
    display: flex;
    height: 100%;
    justify-content: center;
}

header a,
footer a {
    text-decoration: none;
    font-weight: var(--font-weight-medium);

    display: flex;
    justify-content: center;
    align-items: center;
}

li.socials a {
    width: var(--size-200);
    overflow: hidden;
}

li.socials a+a {
    /* Only affects <a> elements that have an <a> element preceding it */
    margin-left: 24px;
}

li.socials svg {
    height: var(--size-175);
    width: var(--size-175);
}


/* Nav Bar */

// General nav bar styles
header {
    --nav-height: 4rem;
    min-height: var(--nav-height);
}

.show {
    transform: translateY(0);
    transition: transform 0.2s;
}

.hide {
    transform: translateY(calc(100% * -1));
    transition: transform 0.3s;
}

// Mobile nav styles
.full-width.mobile-nav-container {
    display: none;
    position: fixed;
    padding: var(--size-075) 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.mobile-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hamburger-menu {
    width: 32px;
    height: 32px;
    z-index: 90;
    cursor: pointer;
    background-color: var(--light-blue);
    border-radius: 5px;
    border: var(--border-100);
    justify-self: end;
    padding: 5px;
}

.hamburger-menu:hover {
    filter: brightness(0.9);
}

.hamburger-menu:active {
    background-color: var(--med-blue);
}

.hamburger-menu-icon {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.hamburger-menu-icon span {
    height: 4px;
    border-radius: 10px;
    background-color: black;
    transition: opacity ease 0.2s;
}

@keyframes hamburger-span-1 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(200%) rotate(0);
    }

    100% {
        transform: translateY(200%) rotate(45deg);
    }
}

@keyframes hamburger-span-1-reverse {
    100% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(200%) rotate(0);
    }

    0% {
        transform: translateY(200%) rotate(45deg);
    }
}

@keyframes hamburger-span-3 {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-200%) rotate(0);
    }

    100% {
        transform: translateY(-200%) rotate(-45deg);
    }
}

@keyframes hamburger-span-3-reverse {
    100% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-230%) rotate(0);
    }

    0% {
        transform: translateY(-230%) rotate(-45deg);
    }
}

// Nav links
nav {
    border-bottom: var(--border-200);
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .logo {
    grid-column: span 1;
}

.logo a {
    width: 100%;
    font-size: 1.5rem;
    justify-content: flex-start;
}

nav li {
    grid-column: span 2;
}

nav .menu-link {
    color: black;
    padding: var(--size-100) var(--size-075);
    transition: color ease 0.15s, font-weight ease 0.15s;
}

nav .menu-link:hover {
    color: var(--highlight-magenta);
    font-weight: var(--font-weight-bold);
    transition: color ease 0.1s, font-weight ease 0.1s, background-color ease 0.1s;
}

nav .menu-link:active {
    color: var(--med-magenta);
}

nav .menu-link::before {
    content: "";
    z-index: -1;
    background-color: var(--light-magenta);
    border-radius: 8px;
    height: var(--size-250);
    width: 0;
    position: absolute;
    top: var(--size-050);
    transform: translateX(-50px);
    transition: width 0.2s, transform 0.2s;
}

nav .active::before {
    width: var(--size-500);
    transform: translateX(0%);
    transition: width 0.25s, transform 0.25s, background-color 0.25s;
}

nav li.socials {
    justify-content: flex-end;
}

nav li.socials a svg {
    transition: fill ease 0.17s, transform ease 0.17s;
}

nav li.socials a:hover svg {
    fill: var(--highlight-magenta);
    transform: scale(1.05);
    transition: fill ease 0.1s, transform ease 0.1s;
}

nav li.socials a:active svg {
    fill: var(--med-magenta);
}

@media screen and (max-width: 50em) {
    nav {
        font-size: var(--font-size-body-2);
        padding-bottom: var(--size-075);
        top: 4rem;
        transform: translateY(calc(100% * -1));
        box-shadow: 0px -100px 0px white;
    }

    .full-width.mobile-nav-container {
        display: grid;
    }

    nav .grid-9-column {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        height: 100%;
    }

    nav .logo {
        display: none;
    }

    nav li.socials {
        justify-content: center;
    }

    li.socials svg {
        height: var(--size-200);
        width: var(--size-200);
    }
}

// Footer
footer {
    margin-top: var(--size-800);
}

.footer-nav {
    display: flex;
    justify-content: center;
    padding: var(--size-175) 0 var(--size-075) 0;
}

.footer-nav li {
    max-width: 7rem;
    overflow: hidden;
    flex: 1 30%;
    padding: 0 var(--size-100);
}

.footer-nav li:nth-child(2) {
    border-right: var(--border-100-white);
    border-left: var(--border-100-white);
}

.footer-nav .menu-link {
    color: white;
    transition: color ease 0.15s, font-weight ease 0.15s, transform ease 0.15s;
}

.footer-nav .menu-link:active {
    color: var(--dark-yellow);
}

.footer-nav .menu-link:hover {
    color: var(--highlight-yellow);
    font-weight: var(--font-weight-bold);
    transition: color ease 0.1s, font-weight ease 0.1s;
}

.footer-socials {
    max-width: 70%;
    min-width: 310px;
    margin: 0 auto;
}

.footer-socials li.socials {
    padding: var(--size-075) 0 var(--size-175) 0;
    border-top: var(--border-100-white);
    fill: white;
    transition: fill ease 0.15s, transform ease 0.15s;
}

.footer-socials a:hover svg {
    fill: var(--highlight-yellow);
    transform: scale(1.05);
    transition: fill ease 0.1s, transform ease 0.1s;
}

.footer-socials a:active svg {
    fill: var(--dark-yellow);
}

@media screen and (max-width: 20em) {
    .footer-nav .menu-link:hover {
        font-weight: var(--font-weight-medium);
        transform: scale(1.05);
    }
}