/* Resume Section */
.resume-section {
    margin: var(--size-350) 0 var(--size-700) 0;
}

.resume-section .font-header-1 {
    margin-bottom: var(--size-150);
}

.resume-section .font-header-3 {
    padding-bottom: var(--size-075);
}

.resume-section .font-mono.font-bold {
    font-size: 1.15rem;
}

.experience>*,
.education>* {
    border: var(--border-100);
    border-bottom: 0;
}

.experience .font-header-2,
.education .font-header-2,
.skills .font-header-2 {
    padding: var(--size-175) var(--size-125) var(--size-100) var(--size-125);
}

.company>*,
.school>* {
    padding: var(--size-125);
    border-bottom: var(--border-100);
}

.company.grid-9-column {
    grid-template-areas:
        "t t t n n n d d d"
        "e e e e e e e e e";
}

.company-title {
    grid-area: t;
    border-right: var(--border-100);
}

.company-name {
    grid-area: n;
    border-right: var(--border-100);
}

.company-dates {
    grid-area: d;
    // border-bottom: 0;
    // border-right: var(--border-100);
}

.company-experience-description {
    grid-area: e;
    border-bottom: 0;
    padding-bottom: var(--size-300);
}

.company-experience-description li {
    margin-left: var(--size-100);
    margin-bottom: var(--size-075);
}

.school.grid-9-column {
    grid-template-areas:
        "s s s s s n n n n"
        "s s s s s d d d d";
}

.school-degree {
    grid-area: s;
    border-bottom: none;
}

.school-name {
    grid-area: n;
    border-left: var(--border-100);
}

.school-dates {
    grid-area: d;
    border-left: var(--border-100);
    border-bottom: none;
}

.skills {
    container: skills / inline-size;
}

.skills .font-header-2 {
    border: var(--border-100);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.skills-container.print {
    visibility: hidden;
    display: none;
}

.skill {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: var(--size-100);
}

.skill:first-child,
.skill:nth-child(8) {
    border-left: var(--border-100);
}

.skill:nth-child(-n + 6),
.skill:nth-child(-n + 10) {
    border-right: var(--border-100);
    border-bottom: var(--border-100);
}

@container skills (width < 110ch) {
    .skills-container {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    .skill:nth-child(7) {
        border-left: var(--border-100);
    }

    .skill:nth-child(8) {
        border-left: none;
    }
}

@container skills (width < 80ch) {
    .skills-container {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .skill:nth-child(6) {
        border-left: var(--border-100);
    }

    .skill:nth-child(7) {
        border-left: none;
    }
}

@container skills (width < 60ch) {
    .skills-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .skill:nth-child(5),
    .skill:nth-child(9) {
        border-left: var(--border-100);
    }

    .skill:nth-child(6) {
        border-left: none;
    }
}

@container skills (width < 40ch) {
    .skills-container {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .skill:nth-child(4),
    .skill:nth-child(7),
    .skill:nth-child(10) {
        border-left: var(--border-100);
    }

    .skill:nth-child(5),
    .skill:nth-child(9) {
        border-left: none;
    }
}

@media screen and (max-width: 60em) {

    .company>*,
    .school>* {
        padding: var(--size-100);
    }

    .company.grid-9-column {
        grid-template-areas:
            "t t t t t t t t t"
            "n n n n n d d d d"
            "e e e e e e e e e";
    }

    .company-title,
    .company-dates {
        border-right: none;
        border-bottom: var(--border-100);
        padding-top: var(--size-125);
    }

    .company-experience-description {
        padding-bottom: var(--size-150);
    }
}


@media print {
    :root {
        font-size: 13px;
    }

    .skills .font-header-2 {
        border-bottom: none;
    }

    .skills-container {
        visibility: hidden;
        display: none;
    }

    .skills-container.print {
        visibility: visible;
        display: grid;
        padding: var(--size-125);
        grid-template-columns: 1fr 1fr;
    }

    .skills-container.print li {
        margin-left: var(--size-100);
        margin-bottom: var(--size-075);
    }

    .skills-container.print {
        border: var(--border-100);
    }

    header,
    nav,
    footer {
        display: none !important;
    }
}