/* Resume Section */
.resume-section {
    margin-top: var(--size-400);
}

.resume-section .font-header-1 {
    margin-bottom: var(--size-150);
}

.experience >* ,
.education > * {
    border: var(--border-100);
    border-bottom: 0;
}

.experience .font-header-2, 
.education .font-header-2,
.skills .font-header-2 {
    padding: var(--size-125) var(--size-100);
}

.company.grid-9-column {
    gap: 0rem;
    grid-template-areas:
        "c c c de de de de de de"
        "l l l de de de de de de"
        "d d d de de de de de de";
}

.company > * {
    padding: var(--size-100);
    border-bottom: var(--border-100);
}

.company-name {
    grid-area: c;
    padding-bottom: var(--size-400);
}

.company-location {
    grid-area: l;
}

.company-dates {
    grid-area: d;
    border-bottom: 0;
}

.company-experience-description {
    grid-area: de;
    border-left: var(--border-100);
    border-bottom: 0;
}

.company-experience-description li {
    margin-left: var(--size-125);
    margin-bottom: var(--size-075);
}

.school.grid-9-column {
    gap: 0;
    grid-template-areas: 
        "s s s s n n n d d";
}

.school > * {
    padding: var(--size-100);
    border-right: var(--border-100);
}

.school-degree {
    grid-area: s;
}

.school-name {
    grid-area: n;
}

.school-dates {
    grid-area: d;
    border-right: 0;
}

.skills .font-header-2 {
    border: var(--border-100);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.skill {
    aspect-ratio: 1 / 1;
    padding: var(--size-100);
}

.skill:first-child,
.skill:nth-child(8) {
    border-left: var(--border-100);
}

.skill:nth-child(-n + 6),
.skill:nth-child(-n + 10) {
    border-right: var(--border-100);
    border-bottom: var(--border-100);
}